#!/usr/bin/make -f

INSTALL_ROOT = $(CURDIR)/debian/tsend
OLD_PATH     := $(PATH)
PATH         = $(PWD):$(OLD_PATH)

QT_SELECT=4

override_dh_auto_configure:
	rm -f qmake
	ln -fsv $(shell which qtchooser) qmake
	dh_auto_configure --buildsystem=qmake -- INSTALL_PREFIX=/usr

%:
	dh $@ --parallel --with bash-completion --buildsystem=qmake
